{{! Previous/next page links - only displayed on page 2+ }}
<div class="pagination top">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
<div id="loop">
  <div class="row">
    {{#foreach posts}}
      <div class="single col-md-4 col-sm-6">
        <article class="{{post_class}}">
            <header class="post-header">
                <h4 class="post-title"><a href="{{url}}">{{{title}}}</a></h4>
            </header>
            <section class="post-excerpt">
                <p>
                  {{excerpt words="26"}}... 
                  <a class="read-more" title="Read {{title}}" alt="Read {{title}}" href="{{url}}"><span class="typcn typcn-arrow-right-thick"></span></a>
              </p>
            </section>
            <footer class="post-meta">
                {{author}},
              <time class="post-date" datetime="{{date format='MMMM-DD'}}">
                {{date format="MMMM DD"}}
              </time>
            </footer>
        </article>
      </div>
    {{/foreach}}
  </div>
</div>
      
{{! Previous/next page links - displayed on every page }}
<div class="pagination bottom">
  {{pagination}}
</div>
