{{! Previous/next page links - only displayed on page 2+ }}
<div class="pagination top">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
<section id="loop">
  <div class="row">
    {{#foreach posts}}
      <div class="single col-md-4 col-sm-6">
        <article class="{{post_class}}">
            <header class="post-header">
                <h5 class="post-title"><a href="{{url}}">{{{title}}}</a></h5>
            </header>
            <section class="post-excerpt">
                <p>
                  {{excerpt words="26"}}...<a class="read-more" title="Read {{title}}" alt="Read {{title}}" href="{{url}}"><span class="typcn typcn-arrow-forward"  aria-hidden="true"></span></a>
              </p>
            </section>
            <footer class="post-meta">
                {{!author}}
              <time class="post-date" datetime="{{date format='MMMM-DD'}}">
                <span class="typcn typcn-calendar"  aria-hidden="true"></span> 
                <span class="sr-only">Post published on</span>{{date format="MMMM DD"}}
              </time>
            </footer>
        </article>
      </div>
    {{/foreach}}
  </div>
</section>
      
{{! Previous/next page links - displayed on every page }}
<div class="pagination bottom">
  {{pagination}}
</div>
