{{!-- Previous/next page links - only displayed on page 2+ 
<div class="container pagination top">
    {{pagination}}
</div>--}}

{{! This is the post loop - each post will be output using this markup }}
<section id="loop" class="container loop-author">
    
    {{#foreach posts}}
        
        <article class="loop-post {{post_class}}">
          
            <header class="post-header">
              <h5 class="post-title">
                <a href="{{url}}">{{{title}}}</a>
              </h5>
            </header>
          
            <time class="post-date" datetime="{{date format='MMMM-DD-YYYY'}}">
              <span class="icon-calendar"></span> 
              <span class="sr-only">Published On </span>{{date format="MMMM DD, YYYY"}}
            </time>
          
        </article>
    
    {{/foreach}}
  
</section>
      
{{! Previous/next page links - displayed on every page }}
<div class="container pagination bottom center">
  {{pagination}}
</div>
