<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

    {{! Styles }}
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/entypo.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />

    {{! Ghost Meta }}
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">

    {{navigation}}

    <main id="main-content">

      {{! Everything else gets inserted here }}
      {{{body}}}

    </main>
    
    
    {{! Off-page elements }}
    <div id="page-overlay"></div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="/assets/js/vendor/jquery-3.1.0.min.js"></script>
    
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
    
    {{! JS Theme Files }}
    <script type="text/javascript" src="/assets/js/vendor/TweenMax.min.js"></script>
    <script type="text/javascript" src="/assets/js/navigation-plus.js"></script>

  </body>
</html>
