<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

    {{! Styles }}
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />

    {{! Ghost Meta }}
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">

    {{navigation}}

    <main class="container-fluid">

      {{! Everything else gets inserted here }}
      {{{body}}}

    </main>
    
    <!-- Footer -->
    <footer id="footer" role="main">
      <a class="hover" href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}} 
      <span class="hidden-xs typcn typcn-minus"></span> 
      <span class="hidden-sm hidden-md hidden-lg"><br /></span>
      Made with <a class="hover" href="/using">this stuff</a>, <a class="hover" target="_blank" href="http://ghost.org/">ghost</a>, and <span class="typcn typcn-heart"></span><span class="sr-only">Love</span>

    </footer>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="/assets/js/vendor/jquery-1.12.3.min.js"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="/assets/js/vendor/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/TweenMax.min.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/Draggable.min.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/flowtype.js"></script>
    <script type="text/javascript" src="/assets/js/navigation.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>

  </body>
</html>
